.content {
  .synopsis {
    margin-top: 15px;

    span {
      &, & > span {
        font-family: Inconsolata;
        font-size: 1.1rem;
      }

      &.name {
        color: #2d7eb9;
        font-size: 1.2rem;
      }
      &.return-value {
        color: #1b9e1b;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin:0 ;
      display: inline;

      li {
        display: inline-block;
        border: 1px solid transparent;
        padding: 2px;
        padding-right: 5px;
        border-radius: 3px;

        &:not(.inactive) {
          cursor: pointer;
        }

        &.hovered {
          border-color: #dcdcdc;
          background: #f7f7f7;
        }

        span {
          &.var-name {
            color: #22899e;
          }
          &.optional {
            color: #bababa;
          }
        }

        i {
          font-style: normal;
        }
      }
    }
  }

  .description {
    a.more-less {
      border-bottom: 1px dotted #22899e;
      text-decoration: none;
      &:hover {
        border-bottom: none;
      }
    }
    p {
      margin-bottom: 5px;
      line-height: 1.5rem;
    }
    code {
      font-family: Inconsolata;
      background: #eee;
      padding: 2px 5px;
      font-size: 1.1rem;
      border-radius: 3px;
      color: #333;
      margin: 0 2px;
    }
  }

  .parameters {
    list-style: none;
    padding: 0;

    li {
      padding: 5px;
      padding-right: 0;
      border: 1px solid #abd4f1;

      &:not(.inactive) {
        background: #eff9ff;
        &:hover, &.hovered {
          background: #e4edff;
          cursor: pointer;
        }
      }

      &:not(:first-child) {
        border-top: none;
      }

      &:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom: 1px solid #98c9ec;
      }

      & > p {
        overflow-y: hidden;
        max-height: 0;
        transition: max-height 0.15s linear, padding-top 0.15s linear, margin-top 0.15s linear;
        padding-top: 0;
        margin: 0;
        font-size: 13px;

        & > p {
          margin: 0;
        }
      }

      &.expanded {
        padding-bottom: 0;

        & > p {
          overflow-y: auto;
          max-height: 150px;
          margin-top: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }

      &.inactive {
        background: #f5f5f5;
        color: #555;
        border-color: #ddd;
      }
    }
  }

  .see-also {
    ul {
      list-style: none;
      display: inline;
      padding: 0;

      li {
        display: inline;
      }
    }
  }
}