.examples {

  > p {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  #example-editor {
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 3px;

    * {
      font-family: Inconsolata;
      font-size: 15px;
    }
  }

}