<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="browser.css">
    <link rel="stylesheet" href="search.css">
    <link rel="stylesheet" href="content.css">
    <link rel="stylesheet" href="font.css">
    <link rel="stylesheet" href="autocomplete.css">
</head>
<body>

    <div class="browser app">
        <section class="search">
            <div>
                <label for="search-field">search:</label>
            </div>
            <div>
                <input type="text" id="search-field" />
                <ul class="autocomplete">
                    <li><a href="">str_replace</a></li>
                    <li><a href="">str_replace</a></li>
                    <li><a href="">str_replace</a></li>
                    <li><a href="">str_replace</a></li>
                    <li><a href="">str_replace</a></li>
                    <li><a href="">str_replace</a></li>
                    <li><a href="">str_replace</a></li>
                    <li><a href="">str_replace</a></li>
                    <li><a href="">str_replace</a></li>
                    <li><a href="">str_replace</a></li>
                    <li><a href="">str_replace</a></li>
                </ul>
            </div>
        </section>

        <section class="content">
            <p class="synopsis">
                <span class="return-value">mixed</span>
                <span class="name">str_replace</span> (
                    <span class="return-value">mixed</span>
                    <span class="var-name">$search</span> ,
                    <span class="return-value">mixed</span>
                    <span class="var-name">$replace</span> ,
                    <span>mixed $subject</span>
                    <span class="optional">[, int &$count ]</span>
                )</p>

            <p class="description">Replace all occurrences of the search string with the replacement string</p>

            <ul class="parameters">
                <li>
                    <span>mixed $search</span>
                    <p>The value being searched for, otherwise known as the needle. An array may be used to designate multiple needles.</p>
                </li>
                <li class="expanded">
                    <span>mixed $replace</span>
                    <p>The replacement value that replaces found search values. An array may be used to designate multiple replacements.</p>
                </li>
                <li>
                    <span>mixed $replace</span>
                    <p>The replacement value that replaces found search values. An array may be used to designate multiple replacements.</p>
                </li>
            </ul>

            <p class="return"></p>

            <div class="see-also">
                See also:
                <ul>
                    <li><a href="#">str_ireplace</a>, </li>
                    <li><a href="#">str_ireplace</a>, </li>
                    <li><a href="#">str_ireplace</a></li>
                </ul>
            </div>
        </section>
    </div>

</body>
</html>
