.content .synopsis, .content .synopsis > span {
  font-family: Inconsolata;
  font-size: 1.1rem; }

.content .synopsis span.name {
  color: #2d7eb9;
  font-size: 1.2rem; }

.content .synopsis span.return-value {
  color: #1b9e1b; }

.content .synopsis span.var-name {
  color: #22899e; }

.content .synopsis span.optional {
  color: #bababa; }

.content .parameters {
  list-style: none;
  padding: 0; }
  .content .parameters li {
    padding: 5px;
    border: 1px solid #abd4f1;
    background: #eff9ff;
    border-bottom: none; }
    .content .parameters li:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
    .content .parameters li:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom: 1px solid #98c9ec; }
    .content .parameters li p {
      overflow-y: hidden;
      max-height: 0;
      transition: max-height 0.15s linear, padding-top 0.15s linear;
      padding-top: 0;
      margin: 0;
      font-size: 13px; }
    .content .parameters li.expanded p {
      max-height: 300px;
      padding-top: 5px; }

.content .see-also ul {
  list-style: none;
  display: inline;
  padding: 0; }
  .content .see-also ul li {
    display: inline; }
